@import "../app.component.variables.scss";

/* ==================================
   *** Estilos para Barra do Topo ***
   ================================== */

.top-search-form-wrap{
  padding: 28px 0;
}



.g-e-dropdown-menu{
    top: 45px!important;
    left: -6px!important;
    a{
        font-size: 1.3rem!important;
        color: $f-cinza-clara!important;
        &:hover, &:active{
            color: white!important;
        }
    }
}
.srm-navbar-top.navbar{
    padding-right: 2rem!important;
}
.top-search-form-wrap{  
    background-color: #fff;
    border-right: 2px solid $cinza-body;
    input{
        border: none;
        background-color: transparent;
        text-align: right;
        padding-right: 45px;
        font-size: 1.2rem;
        width: calc(100% - 47px);
    }
}

.top-search-btn{
    border: none;
    box-shadow: none;
    background-color: transparent;
    position: relative;
    left: -40px;
    margin-left: 0;
    z-index: 100;
    color: $f-cinza-clara;
    font-size: 23px;
}
.srm-brand{
    img{
        display: block;
        height: 60px;
        width:auto;
        @media(min-width: 992px) and (max-width: 1094px){
            height: 35px;
        }
    }
}

.navbar-light{
    .navbar-nav{
        .nav-link:hover{
            .nav-link:focus{
                color: $azul-claro;
            }
        }
        .nav-link{
            color: $f-cinza-clara;
        }
    }
}
.nav-top-r-infos{
    .g-e-label{
        position: relative;
        top: 9px;
        line-height: 60px;
        @media(min-width: 992px){
            margin: 0 0.5rem 0 0;
        }
    }
    li{
        margin: 0 10px;
        @media(max-width: 991px){
            width: 100%;
            padding: 0 2rem;
            border-bottom: 1px dotted $azul-claro;
        }
        &:last-child{
            margin-right: 0;
        }
    }
    li:first-child{
        @media(min-width: 992px) and (max-width: 1402px){
            font-size: 1.2rem;
            margin: 0;
        }
    }
    li:nth-child(2){
        @media(min-width: 992px) and (max-width: 1402px){
            margin: 0;
            font-size: 1.2rem
        }
        @media(min-width: 1403px){
            margin: 0 0 0 10px;
        }
    }
    .nav-i-mobile-only, .m-searchform{
        @media(min-width:992px){
            display: none!important;
        }
    }
    .nav-i-mobile-only{
        a{
            color: white;
            line-height: 60px;
            padding: 9px 0;
            .sidebar-nav-icon-m{
                height: 40px;
                margin: 0 0.5rem 0 0;
            }
            &:hover, &:active{
                color: $azul-claro;
            }
        }
    }
    .g-e-dropdown-menu-link{
        padding: 8px 15px;
        color: $f-cinza-clara!important;
        line-height: 60px;
        @media(min-width: 992px){
            border: 2px solid $azul-claro;
        }
        &:hover, &:active{
            color: $azul-claro!important;
        }
        span{
            color: $azul-claro;
            margin: 0 0 0 0.5rem;
        }
    }
    .top-search-form-wrap{
        background-color: transparent;
        border-right: none;
        padding: 16px 0;
        input{
            text-align: left;
            border-bottom: 1px solid white;
            border-radius: 0;
            color: white;
            &:active, &:focus{ box-shadow: none;}
            &:-moz-placeholder{
                color: white;
            }
        }
    }
    /*form{
        .md-form{
            .form-control{
                color: white;
                border-bottom: 1px solid white;
                
            }
        }
    }*/
}
a.user-info-wrap{
    background-color: $azul-escuro;
    color: white;
    line-height: 60px;
    padding: 9px 15px;
    float: left;
    @media(min-width: 992px){
        text-align: center;
        width: calc(100% - 80px);
    }
    @media(max-width:991px){
        padding-left: 0;
    }
    .fa-user-o{
        @media(min-width: 1403px){
            margin-right: 15px;
        }
        @media (max-width: 991px) {
            margin-right: 15px;
            margin-left: 15px;
        }
    }
    .fa-angle-double-down{
        margin-left: 15px;
        color: $azul-claro;
    }
    .user-name{
        @media(min-width: 992px) and (max-width: 1402px){
            display: none;
        }
    }
    &:hover, &:active{
        color: $azul-claro;
    }
}
.user-alerts-wrap{
    line-height: 60px;
    padding: 9px 0;
    width: 80px;
    float: left;
    @media(min-width: 992px){
        background-color: $azul-claro;
    }
    a{
        color: white;
        display: inline-block;
        position: relative;
        .alert-length{
            font-size: 1rem;
            position: absolute;
            top: -20px;
            top: 9px;
            left: 10px;
            width: 25px;
            height: 25px;
            border-radius: 100%;
            background-color: red;
            display: block;
            line-height: 25px;
        }
        &:hover, &:active{
            color: $azul-claro;
            .alert-length{
                color: white;
            }
        }
    }

}