@import "./app.component.variables";
/* =========================
   *** Estilos do Painel ***
   ========================= */

.panel-title-col{
    @media(min-width: 992px) and (max-width: 1199px){
        padding-right: 0;
    }
    h1{
        @media(min-width: 992px) and (max-width: 1199px){
            font-size: 1.8rem
        }
    }
}
.painel-container{
    height: calc(100vh - 95px);
    @media(min-width: 992px){
        padding-left: 350px;
        display: block;
    }
    @media(min-width: 992px) and (max-width: 1402px){
        padding-left: 300px;
    }
    padding: 120px 30px 30px;
    .breadcrumb{
        margin-bottom: 0;
        padding-top: 0;
        font-size: 1.2rem;
        li{
            a{
                padding: 0 15px;
                color: $f-cinza-clara;
                &:hover, &:active{
                   color: $azul-claro;
                }
            }
            &:last-child{
                &:before{
                    font: normal normal normal 14px/1 FontAwesome;
                    content:'\f054';
                    color: $f-cinza-clara;
                }
            }
        }
    }
    .panel-title-row{
        padding-top: 15px; 
        h1.panel-title{
            padding: 0 15px;
            line-height: 60px;
            display: flex;
        }
        .panel-title-icon{
            height: 60px;
            width: auto;
            margin-right: 2rem;
            display: inline-block;
            @media (min-width: 992px) and (max-width: 1199px) {
                margin-right: 0.5rem;
            }
        }
    }
    .title-product-col{
        font-size: 1.3rem;
        @media(min-width: 768px){
            text-align: right;
        }
        .btn{
            position: relative;
            i{
                font-size: 1.3rem;
                color: $azul-claro;
                position: absolute;
                right: 1.2rem;
                top: 1.7rem;
            }
        }
        .title-product-label{
            margin: 0 2rem 0 0;
            @media(min-width: 992px) and (max-width: 1199px){
                margin: 0 0.5rem 0 0;
            }
        }
        .dropdown-menu{
            text-align: center;
            font-size: 1.3rem;
            width: 250px;
            @media(min-width: 992px) and (max-width: 1199px){
                width: 180px!important;
            }
            .dropdown-item{
                padding: 0.5rem;
            }
        }
    }
}
.panel-cards-row{
    margin-top: 4rem;
    .alertas-col{
        .row{
            @media(min-width: 768px){
                height: 100%;
            }
        }
    }
}
.srm-card{
    background-color: #fff;
    margin: 0 1.2rem;
    box-shadow: $box-shadow-geral;
    width: 100%;
    .srm-card-body{
        padding: 0 2rem 2rem;
    }
    .card-title-wrap{
        padding: 3rem 2rem;
        border-bottom: 1px solid $cinza-mais-claro;
    }
    .srm-card-title{
        color: $f-cinza-media;
    }
    .alert-card-title{
        color: $azul-claro;
    }
    .btn-srm{
        padding: 0.8rem 1.2rem;
        margin: 0.5rem 0;
        width: 100%;
    }
    .atalhos-operacional-wrap, .atalhos-geral-wrap{
        padding-top: 2rem;
    }
    .atalhos-geral-wrap{
        @media(min-width: 768px){
            border-left: 1px solid $cinza-mais-claro;
            padding-left: 2rem;
        }
    }
    .atalhos-operacional-wrap{
        @media(min-width: 768px){
            padding-right: 2rem;
        }
    }
    .nova-op-wrap{
        @media(min-width: 768px){
            padding-right: 1.5rem;
        }
    }
    h4{
        font-size: 1.2rem;
    }
    .card-alertas-ul{
        list-style: none;
        padding: 0;
        li{
            border-bottom: 1px solid $cinza-mais-claro;
        }
        li:last-child{
            border-bottom: none;
        }
    }
    .btn-acoes{
        width: 160px;
        display: block;
        float: right;
        position: relative;
        i{
            position: absolute;
            right: 0.5rem;
            color: $azul-claro;
            top: 1.1rem;
        }
        
    }
    .card-aleta-li{
        line-height: 72.9px;
        min-width: 182px;
    }
    
}
.acoes-dropdown{
    position: relative;
    .dropdown-menu{
        @media(min-width: 768px){
            width: 150px;
            //right: 0.9rem;
            left:calc(100% - 175px);

        }
    }
}
.atalhos-card{
    @media(max-width: 1199px){
        margin-top: 2rem;
    }
}
.sidebar-content{
    @media(max-width: 991px){
        display:none;
    }
}