<!-- Começa barra do topo -->
  <header>
    <div class="left-320-w">
      <form class="form-inline top-search-form-wrap waves-light" mdbWavesEffect>
        <a href="#"></a>
        <input class="form-control mr-sm-2" type="search" placeholder="Pesquise Aqui" aria-label="Pesquise Aqui">
        <button class="top-search-btn" type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>
    <nav class="navbar navbar-light navbar-expand-lg srm-navbar-top">
      <div class="float-left">
        <a class="navbar-brand srm-brand" href="#">
          <img [src]="'../assets/img/logo-srm.jpg'">
        </a>
      </div>
      <ul class="nav navbar-nav nav-flex-icons ml-auto nav-top-r-infos">
        <li class="nav-item">
          <span class="g-e-label">Grupo Económico:</span>
        </li>
        <li class="nav-item dropdown btn-group" dropdown>
          <a dropdownToggle type="button" id="g-e-dropdown-menu-link" 
                href="#" class="nav-link dropdown-toggle g-e-dropdown-menu-link" 
                data-toggle="dropdown"
                aria-haspopup="true" 
                aria-expanded="false" mdbWavesEffect>
                Visão Agendada1<span class="fa fa-angle-double-down"></span>
          </a>
          <div class="g-e-dropdown-menu dropdown-menu dropdown dropdown-primary" *dropdownMenu  role="menu">
            <a href="#" class="dropdown-item waves-light">Visão Agendada1</a>
            <a href="#" class="dropdown-item waves-light">Outro Grupo 1</a>
            <a href="#" class="dropdown-item waves-light">Outro Grupo 2</a>
          </div>
        </li>
        <li class="nav-item">
            <a class="user-info-wrap text-center">
              <div class="user-info">
                <i class="fa fa-user-o"></i>
                <span class="user-name">Sandra Oliveira</span>
                <i class="fa fa-angle-double-down"></i>
              </div>
            </a>
            <div class="user-alerts-wrap text-center">
              <a href="#" class="u-alerts-link">
                <i class="fa fa-bell-o"></i>
                <span class="alert-length">3</span>
              </a>
            </div>
        </li>
      </ul>     
    </nav>
  </header>
  <!-- Termina barra do topo -->
  <!--Começa conteúdo debaixo da barra do topo -->
  <div class="main">
    <!-- Começa Navegação Lateral -->
    <nav class="srm-sedebar-nav">
      <ul class="nav nav-stacked fixed srm-sidebar" >
        <li *ngFor="let sidebarLink of sidebarLinks">
          <a href="#"><img class="sidebar-nav-icon" src="{{sidebarLink.iconUrl}}" alt="{sidebarLink.iconAltTxt}">{{sidebarLink.name}}</a>
        </li>
      </ul>
    </nav>
    <!-- Termina Navegação Lateral -->
    <!-- Começa contenedor do painel -->
    <section class="painel-container container-fluid">
      <div class="row breadcrums-row">
          <ol class="breadcrumb hidden-sm hidden-xs">
            <li><a href="#">Página Principal</a></li>
            <li><a href="#">Painel de Gestão</a></li>
          </ol>
      </div>
      <div class="row panel-title-row">
        <div class="panel-title-col col-md-6">
          <h1 class="panel-title">
            <img src="../assets/globe-blue.svg" class="panel-title-icon" alt="Icone globo azul">
            Painel de Gestão
          </h1>
        </div>
        <div class="title-product-col col-md-6">
          <label class="title-product-label">Produto:</label>
          <div class="btn-group" dropdown>
            <button dropdownToggle id="products-dropdown-btn" type="button" class="btn btn-srm btn-g dropdown-toggle waves-dark" mdbWavesEffect>
              <span>Todos</span>
              <i class="fa fa-angle-double-down"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="products-dropdown-btn">
              <a class="dropdown-item" href="#">Produto 1</a>
              <a class="dropdown-item" href="#">Produto 2</a>
              <a class="dropdown-item" href="#">Produto 3</a>
              <a class="dropdown-item" href="#">Produto 4</a>
            </div>
          </div>
            
        </div>
      </div>
      <div class="row panel-cards-row">
        <div class="col-lg-12  col-xl-7">
          <div class="row">
              <div class="srm-card atalhos-card">
                  <div class="card-title-wrap">
                      <h3 class="srm-card-title">Atalhos</h3>
                  </div>
                  <div class="srm-card-body">
                    <div class="row">
                      <div class="atalhos-operacional-wrap col-md-8">
                        <h4>Operacional</h4>
                        <div class="row">
                          <div class="col-md-6">
                            <button class="btn-srm waves-dark" mdbWavesEffect>Envio</button>
                          </div>
                          <div class="col-md-6">
                            <button class="btn-srm waves-dark" mdbWavesEffect>Assinatura</button>
                          </div>
                          <div class="col-md-6">
                            <button class="btn-srm waves-dark" mdbWavesEffect>Envio Duplicatas</button>
                          </div>
                          <div class="col-md-6">
                            <button class="btn-srm waves-dark" mdbWavesEffect>Assinatura Digital</button>
                          </div>
                        </div>
                      </div>
                      <div class="atalhos-geral-wrap col-md-4">
                        <h4>Geral</h4>
                        <div class="row">
                          <div class="col-md-12">
                              <button class="btn-srm waves-dark" mdbWavesEffect>Carteira</button>
                          </div>
                          <div class="col-md-12">
                              <button class="btn-srm waves-dark" mdbWavesEffect>Instruções</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4 nova-op-wrap">
                          <button class="btn-srm waves-dark" mdbWavesEffect>Nova Operação</button>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
        </div>
        <div class="col-xl-5 col-lg-12 alertas-col">
            <div class="row">
                <div class="srm-card atalhos-card">
                    <div class="card-title-wrap">
                        <h3 class="srm-card-title alert-card-title">Alertas</h3>
                    </div>
                    <div class="srm-card-body">
                      <ul class="card-alertas-ul">
                        <li>
                          <span class="card-aleta-li">23 Notas Canceladas</span>
                        </li>
                        <li>
                          <div class="row">
                            <div class="card-aleta-li col-md-6">13 Notas Canceladas</div>
                            <div class="col-md-6 justify-content-end acoes-dropdown btn-group" dropdown>
                              <button dropdownToggle id="panel-acoes-toggle-1"  type="button" class="btn-srm btn-acoes dropdown-toggle waves-dark" mdbWavesEffect>
                                Ações
                                <i class="fa fa-angle-down"></i>
                              </button>
                              <div class="dropdown-menu" aria-labelledby="panel-acoes-toggle-1">
                                <a  *ngFor="let acoesAlertaNota of acoesAlertaNotas" 
                                    href="{{acoesAlertaNota.actionUrl}}" class="dropdown-item">
                                    {{acoesAlertaNota.name}}
                                </a>
                              </div>
                            </div>
                          </div>
                        </li>
                        <li>
                          <div class="row">
                            <div class="card-aleta-li col-md-6">7 Assinaturas Digitais</div>
                            <div class="col-md-6 justify-content-end acoes-dropdown btn-group" dropdown>
                              <button dropdownToggle id="panel-assinauras-toggle-1"  type="button" class="btn-srm btn-acoes dropdown-toggle waves-dark" mdbWavesEffect>
                                Ações
                                <i class="fa fa-angle-down"></i>
                              </button>
                              <div class="dropdown-menu" aria-labelledby="panel-assinauras-toggle-1">
                                <a  *ngFor="let acoesAlertaAssinatura of acoesAlertaAssinaturas"
                                    href="{{acoesAlertaAssinatura.actionUrl}}" class="dropdown-item">
                                    {{acoesAlertaAssinatura.name}}
                                </a>
                                
                              </div>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                </div>
            </div>
        </div>
      </div>

    </section>
    <!-- Ternina contenedor do painel -->
  </div>
  <!--Termina conteúdo debaixo da barra do topo -->

