/* ========================
    *** Definindo Variáveis ***
   ======================== */

   $azul-claro: #2fa0d0;
   $cinza-mais-claro: #dfdfdf;
   $f-cinza-clara: #8e8e8f;
   $f-cinza-media: #505050;
   $azul-escuro: #00243b;
   $cinza-body: #ebebeb;
   $box-shadow-geral: 0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);