/* You can add global styles to this file, and also import other style files */
@import "app/app.component.variables.scss";


/* ============================
   *** Estilos de Uso Geral ***
   ============================ */
body {
    background-color: #ebebeb;
    height: 100%;
    margin: 0;
}
.clearfix{
    clear: both;
}

h1{
    color: $azul-escuro;
}

.navbar{
    @media(max-width: 991px){
        padding-bottom: 0;
    }
    .container{
        @media(max-width: 991px){
            max-width:calc(100% - 2rem)!important;
        }
        @media(min-width: 992px){
            max-width: 100%!important;
        }
    }
}
.srm-navbar-top{
    background-color: #fff;
    @media (min-width:992px){
        padding: 0.5rem 2rem;
        box-shadow: none!important;
    }
    @media (min-width:992px) and (max-width: 1402px){
        width: calc(100% - 270px);
        left: 270px;
    }
    @media (min-width:1403px) {
        width: calc(100% - 320px);
        left: 320px;
    }
}
.navbar.navbar-light{
    .navbar-toggler{
        color: $azul-escuro;
    }
}
.navbar-collapse{
    @media(max-width: 991px){
        margin: 0 -2.59rem;
        background-color: $azul-escuro;
    }
    a{
        
    }
    .g-e-label{
        @media(max-width: 991px){
            color: white;
        }
    }
}
.btn-srm{
    border: 2px solid $azul-claro;
    background-color: transparent;
    border-radius: 0;
    color: $f-cinza-clara;
    box-shadow: none;
    text-transform: none;
    font-size: 1.2rem;
    &:active{
        box-shadow: none!important; 
    }
}
.btn-g{
    width: 250px;
    font-size: 1.3rem;
    padding: 1.39rem 1.2rem;
    @media(min-width: 992px) and (max-width: 1199px){
        width: 180px!important;
    }
}

.dropdown-menu{
    border-radius: 0;
    padding: 0.5rem 0.4rem;
    a{
        color: $f-cinza-clara!important;
        &:hover, &:focus{
            background-color: $azul-claro;
            color: white!important;
            box-shadow: $box-shadow-geral;
        }
    }
}
.dropdown-toggle{
    &:after{
        display: none;
    }
}

.left-320-w{
    width: 320px;
    z-index: 999;
    height: 100%;
    height: -webkit-calc(100%+ 60px);
    height: calc(100%+ 60px);
    height: -moz-calc(100%);
    top: 0;
    margin: 0;
    float: left;
    position: fixed;
    @media(min-width: 992px) and (max-width: 1402px){
        width: 270px;
    }
    @media(max-width: 991px){
        display: none;
    }
}
.right-full-320{
    width: calc(100% - 320px);
    padding: 0 15px;
    float: left;
}